<div class="col-md-6 search">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..."
    typeahead="value for value in ctrl.getSuggestions($viewValue)"
    typeahead-loading="loadingSuggestions"
    typeahead-wait-ms="1"
    ng-model="searchTerm">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
